@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 91%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 91%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 91%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 215 20% 65%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 33% 3%;
    --foreground: 222 47% 91%;
    --card: 240 33% 5%;
    --card-foreground: 222 47% 91%;
    --popover: 240 33% 5%;
    --popover-foreground: 222 47% 91%;
    --primary: 0 0% 96%;
    --primary-foreground: 240 33% 6%;
    --secondary: 240 20% 12%;
    --secondary-foreground: 0 0% 96%;
    --muted: 240 20% 12%;
    --muted-foreground: 215 20% 65%;
    --accent: 240 20% 12%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 16%;
    --input: 240 20% 16%;
    --ring: 240 20% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-image: radial-gradient(
      hsl(var(--border) / 0.4) 1px,
      transparent 1px
    );
    background-size: 24px 24px;
  }
}
